@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'vuetify/styles';

.v-application.primary--text {
  color: #9A8F99 !important;
  caret-color: #9A8F99 !important;
}

.v-main {
  .v-btn + .v-btn {
    margin-left: 0.5rem;
  }
  
  .v-card {
    border-radius: 0;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

a:not(.v-btn, .v-list-item) {
  color: rgba(var(--v-theme-primary));
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

h1 {
  font-size: 40px;
}

h1, h2, h3 {
  font-family: 'Fira Sans';
  font-weight: 900;
  font-style: italic;
}

label {
  font-family: 'Fira Sans';
  font-weight: 900; 
  font-style: italic;
  font-size: 1rem;
}